/* Basic styling for the container and text */
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

header{
    font-family: 'Climate Crisis';
}
button{

}
/* Style for the input fields */
.entry {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #ccc;
    transition: border-color 0.3s, background-color 0.3s;
    caret-color: transparent;  /* Add this line to hide the blinking cursor */
}
.entry:focus {
    outline: none; /* Remove focus outline to clean up UI */
    border-bottom: 2px solid red; /* Use any color that suits the design */
    animation: blink-cursor 0.7s steps(1) infinite; /* Blinking effect */
}

@keyframes blink-cursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: red;
    }
}

/* Color coding according to Wordle rules */
.correct {
    background-color: #6aaa64; /* Green for correct letters */
    border-color: #6aaa64;
    color: white;
}

.present {
    background-color: #c9b458; /* Yellow for present but wrong position letters */
    border-color: #c9b458;
    color: white;
}

.absent {
    background-color: #787c7e; /* Gray for absent letters */
    border-color: #787c7e;
    color: white;
}
