body {
    background-color: #f5f5f5; /* Set background color to a light gray */
    color: #333; /* Set text color to a dark gray */
    font-family: 'Exo 2', sans-serif; /* Change font family for a modern look */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 4em;
    margin-top: 50px;
    text-align: center;
    line-height: 1;
    color: #333; /* Set text color */
    text-transform: uppercase;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Set text color */
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #666; /* Change color on hover to a darker gray */
}

section {
    text-align: center;
    margin-bottom: 20px;
}

.project-post {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff; /* Set project post background color to white */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Add subtle box shadow for depth */
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
}

.project-post:hover {
    background-color: #f0f0f0; /* Change background color on hover to a light gray */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    transform: translateY(-5px); /* Lift element slightly on hover */
}

.section-divider {
    border-top: 2px solid #1A120B; /* Adjust border color and thickness */
    margin-bottom: 20px; /* Adjust margin for spacing */
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#contact a {
    margin: 0 10px;
}

#contact img {
    max-width: 100%;
    max-height: 100px;
    height: auto;
    transition: transform 0.3s;
}

#contact img:hover {
    transform: translateY(-10px);
}
